.content {
    display: grid;
    padding: 16px 32px;
    position: relative;
  }

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .title button{
    color: var(--main-color);
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    margin: 0 20px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }


  
  .question-answer-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 16px;
    margin-top: 16px;
  }
  
  /* -------------------------------- */

  .search-container form {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-top: 16px;
}

.form-control {
    padding: 14px 8px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: var(--bg-color);
    width: 100%;
    
}

  .questions-container{
    padding: 32px;
    background-color: var(--menu-bg-color);
    border-radius: 32px;
    /* min-height: 50vh; */
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .question-answer-container .questions-container h3{
    font-size: 24px;
    font-weight: 500;
    color: var(--main-color);

  }

  .questions-container .question {
    background-color: white;
    padding: 16px;
    margin: 16px 0 0 0;
    cursor: pointer;
    border-radius: 16px;
    transition: color 0.3s, border-color 0.3s;
  }

  .questions-container .question:hover{
    box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.1);

  }

  /* ----------------------------------- */

  .answers-container{
    background-color: white;
    padding: 32px;
    border-radius: 32px;
    border: 1px solid var(--main-color);
    height: fit-content;
  }

  .answers-container .initial-message{
    margin-top: 16px;
    font-size: 21px;
  }

  .answers-container h3{
    font-weight: 500;
    font-size: 24px;
    color: var(--main-color);
  }

  .answers-container .answer{
    margin-top: 8px;
  }

  .answers-container .answer h4{
    margin-top: 16px;
    font-weight: 500;
    color: var(--main-color);
  }

  .answers-container .answer h4::before{
    content: "➤";
    margin-right: 8px;
  }

  .answers-container .answer ul{
    list-style-type: decimal;
    margin-left: 16px;
    color: var(--text);
    font-size: 14px;
  }

  .answers-container .answer a{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 8px;
  }

  .answers-container .answer a span {
    font-size: 16px;
  }

  /* BORDER COLOR WHEN ACTIVE */
  .active-question {
    border-color: var(--main-color);
    border-width: 1px;
    border-style: solid;
    color: var(--main-color);
    transition: color 0.3s, border-color 0.3s;
}

/* -------------------------------------------- */

/* Popup styles */
.answer-popup {
  display: none;
  position: fixed;
  z-index: 1002;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: #fff;
  margin: 80px auto;
  padding: 8px 24px 24px 24px;
  border: 1px solid #ddd;
  width: 90%;
  border-radius: 32px;
  position: relative;
  max-height: 500px; 
  min-height: fit-content; /* minimum height */
  overflow-y: auto; /* vertical scroll if content is too long */
}

.popup-content .close-btn{
  display: flex;
  justify-content: end;
}

.close-popup {
  color: red;
  font-size: 28px;
  cursor: pointer;
}


.close-popup:hover,
.close-popup:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Styling the popup text */
#popup-answer h4 {
  font-size: 18px;
  color: var(--main-color);
 /* margin: 16px 0 0 0; */
  font-weight: 500;
}

#popup-answer p {
  font-size: 14px;
  margin-bottom: 16px;
}

#popup-answer a {
  color: #007bff;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
  overflow: hidden;
}

#popup-answer ul{
  list-style-type: decimal;
  margin-left: 16px;
  color: var(--text);
  font-size: 14px;
  margin-bottom: 16px;
}

#popup-answer a span{
  font-size: 16px;
}

/* --------------------------- */

/* FEEDBACK FLOATING */
/* Floating button */
.floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--main-color);
  color: white;
  border: none;
  border-radius: 50%;
  padding: 15px;
  cursor: pointer;
  z-index: 1000;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 18px;
  transition: all 0.3s;
}

.floating-button:hover {
  background-color: white;
  color: var(--main-color);
}

/* Center the feedback popup */
.feedback-popup {
  display: none; /* Ensure it's hidden by default */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.feedback-content {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  width: 30%;
  height: min-content;
  border-radius: 10px;
  position: relative;
  overflow-y: auto;
  border-radius: 32px;
}

.feedback-content .title-close-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.title-close-container h4{
  font-size: 21px;
  font-weight: 500;
  color: var(--main-color);
}

/* Style for the close button */
.close-feedback {
  color: red;
  font-size: 28px;
  cursor: pointer;
  background-color: white;
  transition: all 0.3s;
}

.close-feedback:hover,
.close-feedback:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

form {
  width: 100%;
}

.input-form {
  display: flex;
  flex-direction: column;
  margin: 16px 0;
}

.form-label {
  margin-bottom: 4px;
  font-weight: semi-bold;
}

.form-control {
  padding: 16px 8px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: var(--bg-color);
}

.form-control:focus {
  border-color: var(--main-color); 
  outline: none;
}


.input-form textarea{
  height: 200px;
}

form .primary-button{
  width: 100%;
}


.no-scroll {
  overflow: hidden;
}


  /* PHONE MEDIA QUERY */
@media only screen and (max-width: 767px) {
  .search-container form{
    flex-direction: column;
  }
  
  .title button{
    margin: 0;
  }
    .question-answer-container {
      
        grid-template-columns: 1fr ;
       
      }

      .questions-container, .answers-container{
        padding: 24px;
       
      }

      .answers-container .answer h4{
        font-size: 14px;
      }
    
      .answers-container .answer ul{

        font-size: 12px;
      }

      .answers-container{
        display: none;
      }

      .feedback-content{
        width: 90%;
        height: 70%;
      }
    
  }
  
  /* TABLET AND IPAD QUERY */
  @media (min-width: 768px) and (max-width: 1024px) {
   
    
  }