.content-box .content {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    padding: 32px;
    width: 450px;
    border: 1px solid var(--main-color);
    margin: auto;
    border-radius: 32px;
    box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
  }

.content{
    padding: 16px 32px;
}


/* PASSWORD FORM */
.form-box {
    margin-top: 16px;
    width: 100%;
}
.form-box p {
    color: black;
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 16px;
}
.input-box {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 8px;
}

.input-box label {
    font-size: 14px;
}

.input-box input {
    outline: none;
}

.input-box input::placeholder {
    color: #808080;
}

.form-box form button {
    width: 100%;
    margin-top: 16px;
}

.form-control {
    padding: 16px 8px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: var(--bg-color);
    
}

.button-container {
    display: flex;
    gap: 16px;
}


/* MOBILE SCREEN */
@media screen and (max-width: 767px) {

    .content-box .content{
        width: 90%;
        padding: 24px;
    }
    
}

/* TABLET AND IPAD QUERY */
@media (min-width: 768px) and (max-width: 1024px) {

}